<ion-view view-title="<i class='icon ion-ios-pulse-strong'></i> {{l('trends')}}" class="trends">
  <ion-content>
    <ion-list>
    <a class="item item-thumbnail-left item-icon-right" href="#" collection-repeat="trend in trends">
      <img src="{{trend.picture}}">
      <h2>{{trend.name}}</h2>
      <p>{{trend.location}}</p>
      <p>{{trend.users.length}} {{l('peopleInTrend')}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
    </ion-list>
  </ion-content>
</ion-view>