<ion-tabs class="tabs-icon-top tabs-color-active-calm hide-on-keyboard-open">

  <!-- Events Tab 
  <ion-tab title="Events" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>
  
       Trends Tab 
  <ion-tab title="Trends" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/trends">
    <ion-nav-view name="tab-trends"></ion-nav-view>
  </ion-tab> -->
  
  <!-- Users Tab -->
  <ion-tab title="Users" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/users">
    <ion-nav-view name="tab-users"></ion-nav-view>
  </ion-tab>

  <!-- Conversations Tab -->
  <ion-tab title="Conversations" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/conversations">
    <ion-nav-view name="tab-conversations"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
